{% if site.style == 'dark' %}
{% assign icon_color = "#ffffff" %}
{% else %}
{% assign icon_color = "#24292e" %}
{% endif %}

{% assign content = page.content %}

{% assign posts_total = site.posts | size %}

{% assign user = site.github.owner %}

{% if page.path contains '_posts' %}
{% assign meta_description = page.content | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{% else %}
{% assign meta_description = user.bio | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{% endif %}

<!doctype html>
<html class="height-full">

  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ meta_description }}" />
    <title> Shahriar Yazdipour</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ "/assets/styles.css" | relative_url }}" rel="stylesheet" type="text/css">
    <style>
      .github-component {
        box-shadow: 0px 4px 12px 1px rgba(10, 10, 10, 0.1);
        border: none !important;
        border-radius: 12px !important;
      }

    </style>
  </head>

  <body class="height-full" {% if site.style=='dark' %}style="background-color: #2f363d !important" {% else %} style="background-color: rgb(242,242,242) !important"
    {% endif %}>
