<style>
    @media (max-width : 420px) {
        .m-8-onmobile {
            margin: 8px !important;
        }
    }

</style>

<h2 {% if site.style=='dark' %}class="text-white" {% endif %}>Projects</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Projects I've released.</p>

<div
    class="github-component d-flex flex-column flex-md-row flex-items-center flex-md-items-center text-left border-gray-light bg-white rounded-1 m-2">
    <div class="col-2 d-flex flex-items-center flex-items-center flex-md-items-start m-4"><img
            class="width-full avatar mb-2 mb-md-0 rounded-2" style="min-width: 80px;"
            src="https://github.com/yazdipour/yazdipour.github.io/raw/master/assets/gas2/icon.png"
            alt="Enterprise GIS Android App"></div>
    <div class="col-12 col-md-10 d-flex flex-column flex-justify-center flex-items-center flex-md-items-start pr-md-4">
        <h1 class="text-normal lh-condensed">Enterprise GIS Android App</h1><a class="text-gray text-small" href=""
            target="_blank"></a>
        <a class="text-gray text-small" href="https://github.com/yazdipour/AndroidGIS"
            target="_blank">https://github.com/yazdipour/AndroidGIS</a>

        <p class="h4 text-gray text-normal m-8-onmobile">Custom map and layer rendering (Offline and Online)
            + Navigation(Offline and Online) + Background service to notify officers missions + Report
            generator +... made for Gas Company<br><a class="text-gray text-small"
                href="https://www.youtube.com/watch?v=U55KkZoru6g" target="_blank">Watch it on
                YouTube📺</a><br><a class="text-gray text-small"
                href="https://github.com/yazdipour/yazdipour.github.io/raw/master/assets/gas2/scrn.png"
                target="_blank">See Screenshot 🖼</a></p>
    </div>
</div>
<div>
    <div
        class="github-component d-flex flex-column flex-md-row flex-items-center flex-md-items-center text-left border-gray-light bg-white rounded-1 m-2">
        <div class="col-2 d-flex flex-items-center flex-items-center flex-md-items-start m-4"><img
                class="width-full avatar mb-2 mb-md-0 rounded-2" style="min-width: 80px;"
                src="https://github.com/yazdipour/yazdipour.github.io/raw/master/assets/gas1/icon.png"
                alt="Customer GIS iOS and Android App"></div>
        <div
            class="col-12 col-md-10 d-flex flex-column flex-justify-center flex-items-center flex-md-items-start pr-md-4">
            <h1 class="text-normal lh-condensed">Customer GIS iOS and Android App</h1><a class="text-gray text-small"
                href="" target="_blank"></a>
            <p class="h4 text-gray text-normal m-8-onmobile">Cross platform Xamarin Forms application for users
                to report Gas Problems back to Gas Company of Tehran.<br><a class="text-gray text-small"
                    href="https://github.com/yazdipour/yazdipour.github.io/raw/master/assets/gas1/scrn.png"
                    target="_blank">See Screenshot 🖼</a></p>
        </div>
    </div>
</div>


<div
    class="github-component d-flex flex-column flex-md-row flex-items-center flex-md-items-center text-left border-gray-light bg-white rounded-1 m-2">
    <div class="col-2 d-flex flex-items-center flex-items-center flex-md-items-start m-4"><img
            class="width-full avatar mb-2 mb-md-0 rounded-2" style="min-width: 80px;"
            src="https://github.com/yazdipour/hololens-insta-filter/raw/master/icon.png"
            alt="Hololens Instagram Filter
            "></div>
    <div class="col-12 col-md-10 d-flex flex-column flex-justify-center flex-items-center flex-md-items-start pr-md-4">
        <h1 class="text-normal lh-condensed">Hololens Instagram Filter</h1>
        <a class="text-gray text-small" href="https://github.com/yazdipour/hololens-insta-filter"
            target="_blank">https://github.com/yazdipour/hololens-insta-filter</a>
        <p class="h4 text-gray text-normal m-8-onmobile">AR Hololens Instagram Filter<br><a class="text-gray text-small"
                href="https://github.com/yazdipour/hololens-insta-filter/raw/master/sample.gif" target="_blank">See Screenshot 🖼</a></p>
    </div>
</div>

<div
    class="github-component d-flex flex-column flex-md-row flex-items-center flex-md-items-center text-left border-gray-light bg-white rounded-1 m-2">
    <div class="col-2 d-flex flex-items-center flex-items-center flex-md-items-start m-4"><img
            class="width-full avatar mb-2 mb-md-0 rounded-2" style="min-width: 80px;"
            src="https://github.com/yazdipour/ketab-io-android/raw/master/assets/Logo/logo_g.jpg"
            alt="Ketab.io for Android"></div>
    <div class="col-12 col-md-10 d-flex flex-column flex-justify-center flex-items-center flex-md-items-start pr-md-4">
        <h1 class="text-normal lh-condensed">Ketab.io for Android</h1>
        <a class="text-gray text-small" href="https://github.com/yazdipour/ketab-io-android"
            target="_blank">https://github.com/yazdipour/ketab-io-android</a>
        <p class="h4 text-gray text-normal m-8-onmobile">My android side project for Web Security
            Penetration test and a proof of pentest execution. In other way I am using www.ketab.io security
            issue to access their private api and make this android application<br><a class="text-gray text-small"
                href="https://github.com/yazdipour/ketab-io-android" target="_blank">See Screenshot 🖼</a><br><a
                class="text-gray text-small"
                href="https://install.appcenter.ms/users/yazdipour/apps/ketadlr/distribution_groups/public"
                target="_blank">Get the apk from Appcenter⏬</a></p>
    </div>
</div>
<div
    class="github-component d-flex flex-column flex-md-row flex-items-center flex-md-items-center text-left border-gray-light bg-white rounded-1 m-2">
    <div class="col-2 d-flex flex-items-center flex-items-center flex-md-items-start m-4"><img
            class="width-full avatar mb-2 mb-md-0 rounded-2" style="min-width: 80px;"
            src="https://github.com/yazdipour/pocketx/raw/dev/Assets/icon_v2/pocketx_icon.png" alt="Pocket✘">
    </div>
    <div class="col-12 col-md-10 d-flex flex-column flex-justify-center flex-items-center flex-md-items-start pr-md-4">
        <h1 class="text-normal lh-condensed">Pocket✘ for Windows</h1><a class="text-gray text-small"
            href="https://github.com/yazdipour/pocketx" target="_blank">https://github.com/yazdipour/pocketx</a>
        <p class="h4 text-gray text-normal m-8-onmobile">Unofficial Pocket Client for Universal Windows
            Platform + Fluent Design<br><a class="text-gray text-small"
                href="https://github.com/yazdipour/pocketx/raw/dev/Assets/Screenshot.png" target="_blank">See
                Screenshots 🖼</a><br><a class="text-gray text-small"
                href="https://www.microsoft.com/store/apps/9NDT5N34SR2P" target="_blank">Get it from
                Microsoft Store⏬</a></p>
    </div>
</div>
<div
    class="github-component d-flex flex-column flex-md-row flex-items-center flex-md-items-center text-left border-gray-light bg-white rounded-1 m-2">
    <div class="col-2 d-flex flex-items-center flex-items-center flex-md-items-start m-4"><img
            class="width-full avatar mb-2 mb-md-0 rounded-2" style="min-width: 80px;"
            src="https://github.com/yazdipour/ydm/raw/master/Assets/logo.png" alt="YDM"></div>
    <div class="col-12 col-md-10 d-flex flex-column flex-justify-center flex-items-center flex-md-items-start pr-md-4">
        <h1 class="text-normal lh-condensed">YDM for iOS, Android, Windows</h1><a class="text-gray text-small"
            href="https://github.com/yazdipour/ydm" target="_blank">https://github.com/yazdipour/ydm</a>
        <p class="h4 text-gray text-normal m-8-onmobile">YDM is an open source youtube download manager, you
            can download videos from your own server.<br><a class="text-gray text-small"
                href="https://github.com/yazdipour/ydm/blob/master/README.md" target="_blank">See
                Screenshots 🖼</a></p>
    </div>
</div>
<div
    class="github-component d-flex flex-column flex-md-row flex-items-center flex-md-items-center text-left border-gray-light bg-white rounded-1 m-2">
    <div class="col-2 d-flex flex-items-center flex-items-center flex-md-items-start m-4"><img
            class="width-full avatar mb-2 mb-md-0 rounded-2" style="min-width: 80px;"
            src="https://raw.githubusercontent.com/yazdipour/subtitler/master/Subtitler/Assets/StoreLogo.scale-200.png"
            alt="Subtitler"></div>
    <div class="col-12 col-md-10 d-flex flex-column flex-justify-center flex-items-center flex-md-items-start pr-md-4">
        <h1 class="text-normal lh-condensed">Subtitler for Windows</h1><a class="text-gray text-small"
            href="https://github.com/yazdipour/subtitler" target="_blank">https://github.com/yazdipour/subtitler</a>
        <p class="h4 text-gray text-normal m-8-onmobile">Subtitle Downloader UWP Application + Php Server
            with more than 10,000 downloads!<br><a class="text-gray text-small"
                href="https://github.com/yazdipour/subtitler" target="_blank">See Screenshots 🖼</a></p>
    </div>
</div>
<div
    class="github-component d-flex flex-column flex-md-row flex-items-center flex-md-items-center text-left border-gray-light bg-white rounded-1 m-2">
    <div class="col-2 d-flex flex-items-center flex-items-center flex-md-items-start m-4"><img
            class="width-full avatar mb-2 mb-md-0 rounded-2" style="min-width: 80px;"
            src="https://github.com/yazdipour/yazdipour.github.io/raw/master/assets/mebus.png" alt="MeBus">
    </div>
    <div class="col-12 col-md-10 d-flex flex-column flex-justify-center flex-items-center flex-md-items-start pr-md-4">
        <h1 class="text-normal lh-condensed">MeBus for Android</h1><a class="text-gray text-small"
            href="https://github.com/yazdipour/mebus-android"
            target="_blank">https://github.com/yazdipour/mebus-android</a>
        <p class="h4 text-gray text-normal m-8-onmobile">User interface implementing of an Android
            Application.<br><a class="text-gray text-small" href="https://github.com/yazdipour/mebus-android"
                target="_blank">See Screenshots
                🖼</a><br><a class="text-gray text-small"
                href="https://install.appcenter.ms/users/yazdipour/apps/mebus/distribution_groups/public"
                target="_blank">Get the apk from Appcenter⏬</a></p>
    </div>
</div>
<div
    class="github-component d-flex flex-column flex-md-row flex-items-center flex-md-items-center text-left border-gray-light bg-white rounded-1 m-2">
    <div class="col-2 d-flex flex-items-center flex-items-center flex-md-items-start m-4"><img
            class="width-full avatar mb-2 mb-md-0 rounded-2" style="min-width: 80px;"
            src="https://raw.githubusercontent.com/yazdipour/blackreader/master/PdfReader/Assets/StoreLogo.scale-200.png"
            alt="Black Reader"></div>
    <div class="col-12 col-md-10 d-flex flex-column flex-justify-center flex-items-center flex-md-items-start pr-md-4">
        <h1 class="text-normal lh-condensed">Black Reader for Windows</h1><a class="text-gray text-small"
            href="https://www.microsoft.com/en-us/p/black-reader/9nblggh68kns?rtc=1&amp;activetab=pivot:overviewtab"
            target="_blank">Microsoft Store Link</a>
        <p class="h4 text-gray text-normal m-8-onmobile">[deprecated] Black Reader is an uwp pdf reader
            suitable for Nights and dark environments and supports inking. With more than 10,000 downloads
        </p>
    </div>
</div>
<div
    class="github-component d-flex flex-column flex-md-row flex-items-center flex-md-items-center text-left border-gray-light bg-white rounded-1 m-2">
    <div class="col-2 d-flex flex-items-center flex-items-center flex-md-items-start m-4"><img
            class="width-full avatar mb-2 mb-md-0 rounded-2" style="min-width: 80px;"
            src="https://github.com/yazdipour/yazdipour.github.io/raw/master/assets/itehran.png" alt="iTehran">
    </div>
    <div class="col-12 col-md-10 d-flex flex-column flex-justify-center flex-items-center flex-md-items-start pr-md-4">
        <h1 class="text-normal lh-condensed">iTehran for Windows</h1><a class="text-gray text-small"
            href="https://www.microsoft.com/en-us/store/apps/itehran/9nblggh1rr0v" target="_blank">Microsoft
            Store Link</a>
        <p class="h4 text-gray text-normal m-8-onmobile">[deprecated] Uwp application to get more
            information about Tehran public transportation system map and time table. With more than 8,000
            downloads<br><a class="text-gray text-small" href="https://goo.gl/NEjRCt" target="_blank">Read
                about iTehran in WinPhone</a><a class="text-gray text-small" href="http://goo.gl/yNMIOj"
                target="_blank">, Zoomit</a></p>
    </div>
</div>
<div
    class="github-component d-flex flex-column flex-md-row flex-items-center flex-md-items-center text-left border-gray-light bg-white rounded-1 m-2">
    <div class="col-2 d-flex flex-items-center flex-items-center flex-md-items-start m-4"><img
            class="width-full avatar mb-2 mb-md-0 rounded-2" style="min-width: 80px;"
            src="https://hackernoon.com/hn-images/1*JsSSKCIqeebFvCtBl-Flvw.png">
    </div>
    <div class="col-12 col-md-10 d-flex flex-column flex-justify-center flex-items-center flex-md-items-start pr-md-4">
        <h1 class="text-normal lh-condensed">Lexical Analyzer</h1><a class="text-gray text-small"
            href="https://github.com/yazdipour/csharp-lexical-analyzer" target="_blank">https://github.com/yazdipour/csharp-lexical-analyzer</a>
        <p class="h4 text-gray text-normal m-8-onmobile">Lexical Analyzer in CSharp for Compiler project</p>
    </div>
</div>
